useDynLib(rfugw, .registration = TRUE)
import(Rcpp)
export(fgw_entropic)
export(fgw_entropic2)
export(entropic_fused_gromov_wasserstein)
export(entropic_fused_gromov_wasserstein2)
export(entropic_gromov_wasserstein)
export(entropic_gromov_wasserstein2)
export(entropic_gromov_barycenters)
export(entropic_fused_gromov_barycenters)
export(entropic_partial_gromov_wasserstein)
export(entropic_partial_gromov_wasserstein2)
export(entropic_partial_fused_gromov_wasserstein)
export(entropic_partial_fused_gromov_wasserstein2)
export(entropic_semirelaxed_fused_gromov_wasserstein)
export(entropic_semirelaxed_fused_gromov_wasserstein2)
export(entropic_semirelaxed_gromov_wasserstein)
export(entropic_semirelaxed_gromov_wasserstein2)
export(fgw_exact_cg)
export(fgw_barycenters)
export(fused_gromov_wasserstein)
export(fused_gromov_wasserstein2)
export(fused_gromov_barycenters)
export(fused_unbalanced_across_spaces_divergence)
export(fused_unbalanced_gromov_wasserstein)
export(fused_unbalanced_gromov_wasserstein2)
export(fugw_kl)
export(fugw_kl2)
export(graph_diffusion_coordinates)
export(gromov_barycenters)
export(gromov_wasserstein)
export(gromov_wasserstein2)
export(lowrank_gromov_wasserstein_samples)
export(multialign_fit)
export(multialign_make_template)
export(multialign_normalize_plan)
export(multialign_project_features)
export(multialign_project_matrix)
export(partial_fused_gromov_wasserstein)
export(partial_fused_gromov_wasserstein2)
export(partial_gromov_wasserstein)
export(partial_gromov_wasserstein2)
export(sampled_gw_from_graphs)
export(sampled_gromov_wasserstein)
export(sampled_gromov_wasserstein_coords)
export(semirelaxed_fused_gromov_wasserstein)
export(semirelaxed_fused_gromov_wasserstein2)
export(semirelaxed_gromov_wasserstein)
export(semirelaxed_gromov_wasserstein2)
export(unbalanced_co_optimal_transport)
export(unbalanced_co_optimal_transport2)
